<h1>Contato</h1>

<label>Nome:</label>
<input name="nome" type="text">
<br>
<label>CEP:</label>
<input name="cep" type="text" [(ngModel)]="cep">
<button type="button" name="procura" (click)="busca()">Busca</button>
<br>
<label>Logradouro:</label>
<input name="logradouro" type="text" [(ngModel)]="logradouro">
<label>No.:</label>
<input name="numero" type="text">
<br>
<label>Cidade:</label>
<input name="cidade" type="text" [(ngModel)]="cidade">
<label>UF:</label>
<input name="uf" type="text" [(ngModel)]="uf">
